.button {
    display: inline-flex;
    height: 100%;
    width: max-content;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition-property: color, background-color, outline;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.button:hover,
.button:focus {
    color: var(--accent-foreground);
}
.button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* sliding background from left */
.button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--accent);
    transform: translateX(-100%);
    transition: transform 240ms cubic-bezier(.2,.8,.2,1);
    z-index: 0;
}
.button:hover::before,
.button:focus::before,
.button[data-active="true"]::before {
    transform: translateX(0%);
}
.button > .btn-label {
    position: relative;
    z-index: 10;
}

